{% extends 'layout/base.html' %} 

{% block title %} | Donate {% endblock title %}

{% block content %}
<div class="user">
  <div class="user__content">
    <div class="user__profile">
      <img
        src="https://picsum.photos/200/300"
        alt=""
        class="user__profile--img"
      />
    </div>
    <div class="user__description">
      <form action="{% url 'donate' %}" method="post" class="form">
      {% csrf_token %}
        <div class="form-group">
          <label for="#">Phone number</label>
          <input type="tel" name = "mobile" placeholder="your phone number" />
        </div>
        <div class="form-group">
          <label for="#">Amount</label>
          <input type="number" name ="amount" placeholder="Tanzanian shillings" />
        </div>
        <div class="form-group">
          <label for="#">Your name</label>
          <input type="text" name = "donator" placeholder="You can donate as anonymous too" />
        </div>
        <div class="form-group mt">
          <button class="btn btn-primary btn-block"
            >Donate</button
          >
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
