{% extends 'layout/base.html' %} {% block content %}
<div class="user">
  <div class="user__content">
    <div class="user__profile">
      <img
        src="https://picsum.photos/200/300"
        alt=""
        class="user__profile--img"
      />
    </div>
    <div class="user__description">
      <form action="#" method="post" class="form">
        <div class="form-group">
          <label for="#">Phone number</label>
          <input type="tel" placeholder="your phone number" />
        </div>
        <div class="form-group">
          <label for="#">Amount</label>
          <input type="number" placeholder="Tanzanian shillings" />
        </div>
        <div class="form-group">
          <label for="#">Your name</label>
          <input type="text" placeholder="You can donate as anonymous too" />
        </div>
        <div class="form-group mt">
          <a href="index.html" class="btn btn-primary btn-block"
            >But me coffee</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
