{% extends 'layout/base.html' %} {% block content %}
<div class="user">
  <div class="user__content">
    <div class="user__profile">
      <img
        src="{{ profile.profile_img.url }}"
        alt=""
        class="user__profile--img"
      />
    </div>
    <div class="user__description">
      <div class="user__description--title">
        <p>Hi There, My name is <span> {{ profile.user.username }} </span></p>
      </div>
      <div class="user__description--para">
        {{ profile.description }}
      </div>
    </div>
    <a href="{% url 'donate' profile.id %}" class="btn btn-primary">But me coffee</a>
  </div>
</div>
{% endblock %}
